/* styles.css */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes colorChange {
  0% {
    color: #333;
  }
  25% {
    color: #e74c3c;
  }
  50% {
    color: #f39c12;
  }
  75% {
    color: #2ecc71;
  }
  100% {
    color: #3498db;
  }
}

.quote {
  display: inline-block;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  animation: slideIn 1s ease-out, colorChange 5s infinite;
}

.quote span {
  display: inline;
}

.quote:hover {
  transform: scale(1.1);
}

.cardAlignment {
  width: 60vw;
  height: 50vh;
  padding: 5px;
  margin: 15px;
}

.cards {
  width: 20vw;
}

@media (max-width: 600px) {
  .experiance {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .project-containts {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .imageList {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name-card {
    width: 100%;
  }

  .cardAlignment {
    width: 40vw;
    padding: 5px;
    margin: 15px;
  }
  /* .MuiContainer-root MuiContainer-maxWidthLg css-imoq00-MuiContainer-root */
  .MuiContainer-root {
    display: flex;
    flex-direction: column;
  }
  .cardAlignment {
    width: fit-content;
    height: fit-content;
  }
  .cards {
    width: 100vw;
  }
}
